<!--======= WELCOME AREA =======-->
<div id="home" class="welcome-area" data-stellar-background-ratio="0.6" style="background-image: url(assets/img/logo-big-black.png);">
   <div class="welcome-table">
       <div class="welcome-cell">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="welcome-text">
                          <h1 class="theme-color">Badge Pirates</h1>

                        </div>
                        <div class="home-arrow">
                            <a href="#about" class="smoth-scroll"><i class="fa fa-angle-double-down"></i></a>
                        </div>
                    </div>
               </div> <!--/.row-->
            </div> <!--/.container-->
        </div>
    </div>
</div>
<!--===== END WELCOME AREA =====-->
