<!--===== ABOUT AREA =====-->
<div id="order" class="about-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-title">
               <h2>order.</h2>
                  <p>Order our latest badge</p>
               </div>
            </div>
        </div> <!--/.row-->
        <div class="row">
            <div class="col-md-5">
               <div class="author-image">
                    <img src="assets/img/badges/defcon/26/SecKCDC26_P_FZ_700x466.png" alt="SecKC Defcon 26 Image"> <!--=== about image ===-->
                </div>
            </div>

            <div class="col-md-7">
              <div class="tab-content">
                  <div> <!-- Single Tab -->
                     <h4 class="about-heading">Pre-order <span>SecKC Defcon 26</span> badge now!</h4>
                      <p>Preorder the official SecKC Defcon 26 badge now and save! Only $65 right now.</p>
                      <p>Platform: WROOM Esp32 (WiFi, BLE) on board with 42 Charlie Plex LED.</p>

                      <p>Features:</p>
                      <ul>
                        <li>Several different LED patterns</li>
                        <li>Hackable with Attachable Daughter Board</li>
                        <li>FTDI connection using Arduino IDE</li>
                        <li>#BadgeLife Shitty Add-On Connector</li>
                        <li>2x AAA Battery</li>
                        <li>Components SMD 1206 and 0603 Foot Print</li>
                      </ul>

                      <p>Hack My Badge Instructions:</p>
                        <ul>
                          <li>Adding a LIPO and Charger - Coming Soon</li>
                          <li>Add a NeoPixel Bling Ring - Coming Soon</li>
                        </ul>

                      <p>Delivery to DefCon, Follow our Twitter for Times and locations</p>
                      <button class="btn btn-effect btn-sent" (click)="openCheckout()">$55 Order Now!</button>
                  </div>
              </div>
            </div>
        </div> <!--/.row-->
    </div> <!--/.container-->
</div>
<!--===== END ABOUT AREA =====-->
