<!--===== ABOUT AREA =====-->
<div id="order" class="about-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-title">
               <h2>order.</h2>
                  <p>Order our latest badges</p>
               </div>
            </div>
        </div> <!--/.row-->

        <div class="row">
            <div class="col-md-5">
               <div class="author-image">
                    <img src="assets/img/badges/defcon/26/full_badge_set_dc26.jpg" alt="SecKC Defcon 26 Image"> <!--=== about image ===-->
                </div>
            </div>

            <div class="col-md-7">
              <div class="tab-content">
                  <div class="row"> <!-- Single Tab -->
                     <h3>SecKC Official Defcon 26 Badge</h3>
                     <h4 class="about-heading">Pre-order <span>SecKC Defcon 26</span> badge now!</h4>
                      <p>Preorder the official SecKC Defcon 26 badge now and save! Only $65 right now.</p>
                      <p>Platform: WROOM Esp32 (WiFi, BLE) on board with 42 Charlie Plex LED.</p>

                      <p>Features:</p>
                      <ul>
                        <li>Several different LED patterns</li>
                        <li>Hackable with Attachable Daughter Board</li>
                        <li>FTDI connection using Arduino IDE</li>
                        <li>#BadgeLife Shitty Add-On Connector</li>
                        <li>2x AAA Battery</li>
                        <li>Components SMD 1206 and 0603 Foot Print</li>
                      </ul>

                      <p>Hack My Badge Instructions:</p>
                        <ul>
                          <li><a href="https://github.com/BadgePiratesLLC/SecKCDC26/tree/master" target="_blank">Full Github Repo with all code and board designs</a></li>
                            <li><a href="https://github.com/BadgePiratesLLC/SecKCDC26/tree/master/BadgeCode" target="_blank">Stock badge code</a></li>
                          <li><a href="https://github.com/BadgePiratesLLC/SecKCDC26/tree/master/Tutorials/Lipo" target="_blank">Adding a LIPO and Charger</a></li>
                          <li><a href="https://github.com/BadgePiratesLLC/SecKCDC26/tree/master/Tutorials/Cotcha" target="_blank">Turn your badge intoa Cotcha</a></li>
                        </ul>

                      <p>Delivery to DefCon, Follow our Twitter for Times and locations</p>
                      <div class="row">
                        <div class="col-sm-4">
                          <label for="badgeCount">Num Badges: </label>
                          <input type="number" min="1" max="999" class="badge-count-input" #badgeCount (keyup)="updateBadgeCount(badgeCount.value); "  value="1" required>
                        </div>
                        <div class="col-sm-8">
                          <button class="btn btn-effect btn-sent" (click)="openBadgeCheckout()">${{this.badgeDisplayTotal}} Order Now!</button>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
        </div> <!--/.row-->
    </div> <!--/.container-->
</div>
<!--===== END ABOUT AREA =====-->
